.content-body{
    display: flex;
    flex-direction: column; 
}
.my-carousel-container{
    height: 250px;
    max-width: 100%;
    overflow-y: hidden;
}
.my-carousel-img {
    max-width: 100%;
    width: 100%;
    position: relative;
}
.my-navbar-container {
    top: 10px;
    width: 980px;
    margin-top: 10px;
}
.my-pagination{
    margin: 0px !important;
}
.my-list-row {
    display: flex;
    flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    overflow-x: hidden;
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: grey solid 1px;
}
.my-list-column-img{
    min-width: 80px;
    max-width: 80px;
    overflow-x: hidden;
    height: 100%;
    float: left;
}
.my-list-column-title{
    height: 100%;
    float: right;
    margin-left: 10px;
}
.my-img {
    width: auto;    
    height: 100px;
}