.content-body  {
    width: 980px;
    right: 0px;
    left: 0px;
    margin: 0px auto;
}
.navigator-color {
    border-color: yellow !important;
}
.disable-navigator-color {
    border-color: rgba(63, 81, 181, 0) !important;
}
.navigator-size {
    border-width: 20px;
}
.arrow-tail {
    width: 4px; 
    height: 12px;
    border: solid;
    position: relative;
    margin-left: 2px;
    margin-right: 2px;
    
}
.arrow-left {
    float: left;
    width: 0; 
  height: 0;  
  border-top: 13px solid transparent !important;
  border-bottom: 13px solid transparent !important; 
  border-right:15px solid; 
}
.arrow-right {
  float: right;
  width: 0; 
  height: 0;  
  border-top: 13px solid transparent !important;
  border-bottom: 13px solid transparent !important; 
  border-left:15px solid; 
}
.slide-forward > .arrow-tail {
    float: left;
    border-left-style: dotted;
}
.slide-backward > .arrow-tail {
    float: right;
    border-right-style: dotted;
}
.slide-container {
    width: 100%;
    height: 200px;
    overflow-y: hidden;
    position: relative;
    
}
.slide-backward {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: grey;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.slide-forward {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: grey;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.slide-backward:hover .slide-forward:hover {
    color: green;
}
.slide-content {
    z-index: 1;
    width: 100%;
    overflow-y: hidden;
    top: 0px;
    left: 0px;
    position: absolute;    
}

/*COMMON STYLE*/
.display-none {
    display: none;
}
.display-block{
    display: block;
}
.enable {
    cursor: pointer;
}
.disable {
    cursor: not-allowed;
    pointer-events: none;
}